.p5Canvas {
    border-radius: 20px;
    border-color: #0081dd;
    border-width: 5px;
    border-style: solid;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

#about-text {
    width: 20vw;
}

#info {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}

#controls {
    margin-top: 10vh;
    display: flex;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 20vw;
}

#color-input {
    box-sizing: border-box;
    width: 7vw;
    height: 5vh;
}
